body {
  background-color: #001489;
}

.wide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h1 {
    color: #001489;
    font-size: 100px;
    margin-left: 10px;
    
}

.logo {
    margin-left: 100px;
}

.flex-container {
  display: flex;
  background-color: #001489;
}

.flex-container > div {
  /*background-color: #f1f1f1;*/
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    height: 500px;
    width: 650px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr {
      color: white;
  }
  
  tr:nth-child(even) {
    background-color: white;
    color: #001489;
  }

